<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
{{.Name}}
{{.Age}}
{{if .Admin}}
<p>Is Admin</p>
{{else}}
<p>Is not Admin</p>
{{end}}
</body>
</html>