<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
{{range .}}
    Name: {{.Name}}
{{end}}

{{range .}}
    {{if .Name}}
        <p>Name: {{.Name}}</p>
    {{end}}
{{end}}

{{range .}}
    {{if and .Name .Age}}
        <p>Name: {{.Name}}</p>
        <p>Age: {{.Age}}</p>
    {{end}}
{{end}}

</body>
</html>