<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hello</title>
</head>
<body>
{{$user := .}}

<h1>Firstname: {{$user.Firstname}}</h1>
<h1>Lastname: {{$user.Lastname}}</h1>
</body>
</html>