<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<ul>
    {{range .}}
    <li>Name: {{.Name}}</li>
    <li>Age: {{.Age}}</li>
    {{end}}
</ul
</body>
</html>