<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Name: {{uc .Firstname}}</h1>
<h1>Lastname: {{ft .Lastname}}</h1>
<h1>Age {{.Age}}</h1>

</body>
</html>